---
export interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props as Props;
---

<li>
  <a
    target="_blank"
    class="flex items-center justify-center gap-2 rounded border bg-white p-3 text-center text-xl font-semibold text-black transition-colors hover:bg-transparent hover:text-white"
    href={href}
  >
    <slot />
    {title}
  </a>
</li>
